@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Address book demo</h1>
    <p class="lead">DreamFactory address book demo is a ASP.NET MVC application utilizing DreamFactory API for persistance, security and scalability.</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register now &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>What is DreamFactory?</h2>
        <p>
            DreamFactory is a free, open source REST API backend for mobile, web, and IoT applications. It provides RESTful web services for any data source so you can start front-end development with robust REST APIs on day one.
        </p>
        <p><a class="btn btn-default" href="http://www.dreamfactory.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Why DreamFactory?</h2>
        <p>DreamFactory provides pre-built connectors to SQL, NoSQL, file storage systems, and web services. With a few clicks, you instantly get a comprehensive palette of secure, reusable, customizable REST APIs and live API documentation.</p>
        <p><a class="btn btn-default" href="http://www.dreamfactory.com/user/register">Try now &raquo;</a></p>
    </div>
</div>